.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(138, 65, 65);
  border-radius: 10px;
  transition: box-shadow 0.1s ease-in-out;
}

.card-container:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.imagen-producto {
  width: 100%;
  margin: 0;
}

.link-detalle {
  text-decoration: none;
  color: rgb(121, 120, 120);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.link-detalle:hover {
  color: rgb(238, 182, 182); /* Cambia de color al pasar el mouse */
}
