h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: rgb(126, 70, 70);
  text-align: center;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.detalle-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenedor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contenedor-item h2 {
  font-size: 12px; /* Cambia el tamaño de los subtítulos */
}
